@import "./reset";
@import "./layout";

* {
    font-family: 'Roboto', sans-serif;
    font-weight: regular;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #424242;
}

p {
    margin: 0;
    line-height: 22px;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}

address {
    margin-bottom: 8px;
}

main {
    height: 520px;
    overflow: scroll;
    @media screen and (min-width: 900px) {
        width: 80%;
        height: 400px;
        margin: 0 auto;
    }
}