@import './reset';
@import './layout';

$light-color: #424242;
$light-bg-color: white;
$dark-color: white;
$dark-bg-color: #424242;
$highlight-color: #ADFFCE; 
$dark-highlight-color: #41b883;

* {
    font-family: 'Roboto', sans-serif;
    font-weight: regular;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    margin: 0;
    line-height: 22px;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}

address {
    margin-bottom: 8px;
}

main {
    height: 100%;
    overflow: scroll;
    color: $light-color;

    @media screen and (min-width: 900px) {
        width: 80%;
        height: 400px;
        margin: 0 auto;
    }
}

div.light-mode {
    background: $light-bg-color;
    transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;
}

div.dark-mode {
    background: $dark-bg-color;
    transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;
    
    main {
        color: $dark-color;
        .sub-title {
            background: #ADFFCE;
            color: $light-color;
            font-weight: 400;
        }
    }

    a:not(.social-link) {
        color: $highlight-color;
    }

    .quote-text {
        color: $light-color;
    }
}